beautifulsoup4==4.12.3
groq==0.9.0
joblib==1.3.1
newspaper3k==0.2.8
numpy==1.25.1
pandas==2.0.3
pandas_ta==0.3.14b0
Requests==2.32.3
scikit_learn==1.5.0
streamlit==1.35.0
yfinance==0.2.27
lxml==4.6.3
